@charset "utf-8";
body{
    width: 100%;
    font: 12px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.top{
    height: 32px;
    background: url("../img/topbg.png") repeat-x;
    border-bottom: 1px solid #C7C7C7;
    line-height: 32px;
}
.top1{
    float: left;
    margin-left: 11%;
}
.top2{
    float: right;
    margin-right: 11%;

}
.top_list li{
    float: left;
    padding: 0 12px;
    background: url("../img/img/head_top_3_02.jpg") no-repeat;
    color: #666666;
}
.top_list li:first-of-type{
    background: none;
}
.top_last_list li:last-of-type a{
    color: red;
}
.top_first_list li:first-of-type{
    color: #118855;
}
.top_list li a{
    color: #666666;
}
.top_list li a:hover{
    color: black;
}
.top_service{
    padding-right: 0 !important;
    position: relative;
}
.top_service span{
    background:url("../img/t01548f00668b24011b.gif") no-repeat 89% -41px !important;
    padding-right: 26px !important;
}
.top_service div{
    display: none;
    width: 50px;
    position: absolute;
    background: #fff;
    border: 1px solid #333333;
}
.top_service div a{
    display: block;
}
.logo_list{
    width: 1200px;
    margin: 0 auto;
}
.logo a{
    float: left;
    width: 243px;
    height: 80px;
    background: url("../img/img/nav_head_01_12.jpg") no-repeat;
}
.navList{
    float: right;
    height:80px;
}
.navList ul li {
    float: left;
    width: 102px;
    height:80px;
    font-size: 0;
    line-height: 80px;
}
.navList ul li:first-of-type{
    position: relative;
}
.navList ul li a{
    font-size:16px;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    color:  #666;
    text-decoration: none;
    padding: 0 18px;
    border: 1px solid #fff;
    vertical-align: middle;
}
.navList ul li a:hover{
    background: #F3F3F3;
}
.hot-tip{
    background: url("../img/img/nav_head_02_14.jpg") no-repeat;
    width: 24px;
    height:15px;
    position: absolute;
    top: 16px;
    right:1px;
}
.banner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.banner-top{
    height: 340px;
    width: 1200px;
    overflow: hidden;
    position: relative;
}
.banner-top .wrap1{
    width: 4800px;
    position: absolute;
    left: 0;
    top: 0;
}
.banner-top li{
    float: left;
}
.banner-top li img{
    width: 1200px;
    display: block;
}
.circle {
    position: absolute;
    z-index: 999;
    right: 20px;
    bottom: 20px;
}
.circle li{
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 6px;
    border-radius: 12px;
    background: #ccc;
}
.banner-bottom_wrap{
    background: #F7F7F7;
}
.banner-bottom {
    width: 1200px;
    height: 166px;
    margin: 0 auto;
}
.banner-bottom ul li{
    float: left;
}
.banner-list{
    position: absolute;
    z-index: 100000;
    width: 235px;
    height: 340px;
    left: 0;
    top: 0;
    background: rgba(68,69,71,0.5);
}
.banner-list>ul>li{
    font-size: 16px;
    color: white;
    text-indent: 80px;
    line-height: 84px;
    height: 84px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.triangle{
    width: 0;
    height: 0;
    display: inline-block;
    border-right: 8px solid #fff;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    z-index: 22222;
    right:0;
    top:40%;
    display: none;
}
.panel01{
    width: 700px;
    left: 226px;
    position: absolute;
    top: 0;
    left: 234px;
    border:1px solid #185;
    background: #F7F7F7;
    padding: 27px 10px 10px 10px;
    z-index: 2000;
    display: none;
}
.panel01 dl dt{
    float: left;
    height: 18px;
    line-height: 18px;
    width: 145px;
    font-size: 12px;
    text-align: right;
}
.panel01 dl dd{
    float: left;
    margin-left: 20px;
    font-size:0;
    height: 26px;
    width: 526px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
}
.panel01 dl dd a{
    color: #333;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    border-left: 1px solid #E1E1E1;

}
.panel02{
    width: 700px;
    padding-top: 27px;
    height: 311px;
    left: 226px;
    padding-top: 27px;
    position: absolute;
    top: 0;
    left: 234px;
    border:1px solid #185;
    background: #F7F7F7;
    display: none;
}
.panel02 dl dt{
    float: left;
    font-size: 12px;
    height: 42px;
    width: 90px;
    line-height: 42px;
    text-align: right;
}
.panel02 dl dd{
    margin-left: 90px;
}
.panel02 dl dd a{
    border: 1px solid #E1E1E1;
    color: #333;
    display: inline-block;
    font-size: 12px;
    height: 40px;
    width: 116px;
    line-height: 40px;
    margin-left: 17px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}
.panel03{
    width: 700px;
    height: 311px;
    left: 226px;
    padding-top: 27px;
    position: absolute;
    top: 0;
    left: 234px;
    border:1px solid #185;
    background: #F7F7F7;
    display: none;
}
.panel03 ul{
    list-style: none;
    padding: 0;
}
.panel03 ul li{
    float: left;
}
.panel03 ul li a{
    text-decoration: none;
    color: #333;
    border: 1px solid #E1E1E1;
    display: inline-block;
    font-size: 12px;
    height: 40px;
    width: 116px;
    line-height: 40px;
    margin-left: 17px;
    margin-bottom: 20px;
    text-align: center;
}
.panel03 ul li a:hover{
    border-color: #185;
    color: #185;
}
.panel02 dl dd a:hover{
    border-color: #185;
    color: #185;
}
.panel01 dl dd a:hover{
    color: #185;
}
.banner-list>ul>li:first-child{
    background: url(../img/img/nav_middle_01.png) no-repeat -5px 0px;
}
.banner-list>ul>li:nth-child(2){
    background: url(../img/img/nav_middle_01.png) no-repeat -5px -80px;
}
.banner-list>ul>li:nth-child(3){
    background: url(../img/img/nav_middle_01.png) no-repeat -5px -167px;
}
.banner-list>ul>li:nth-child(4){
    background: url(../img/img/nav_middle_01.png) no-repeat -5px -255px;
}
.banner-list>ul>li:hover {
     cursor: pointer;
     background-color: #118855;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.hotPhone{
    clear: both;
    background: #F7F7F7;
}
.second_hand{
    clear: both;
    background: #F7F7F7;
}
.arrival{
    clear: both;
    background: #F7F7F7;
}
.h2_wrap{
    height: 48px;
    line-height: 48px;
    width: 1200px;
    margin: 0 auto;
}
.h2_wrap h2{
    float: left;
    color: #666;
    font-size: 24px;
}
.h2_wrap a{
    float: right;
    background: url("../img/img/body_middle_01.png") no-repeat right;
    width: 68px;
    height: 19px;
    line-height: 19px;
    color: #666;
    margin-top: 12px
}
.pro_list{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.pro_list>div{
    float: left;
}
.pro_list>ul li{
    float: left;
    padding-top: 32px;
    background: #fff;
    font-size:0;
}
.pro_list>ul li a{
    width: 199px;
    height: 269px;
    display: inline-block;
    text-align: center;

}
.pro_list>ul li a:hover{
    text-decoration: none;
    color: #666;
}
.pro_img{
    width:160px !important;
    height: 160px;
}
.pro_list>ul li a img{
    display: inline-block;
    width:80px;
    height: 160px;
}
.pro_list>ul li:last-of-type a img{
    width: 160px;
    height: 160px;
}
.pro_name{
    text-align: center;
    font-size:16px;
    line-height: 32px;
    margin-top: 22px;
}
.pro_price{
    text-align: center;
    font-size:14px;
    line-height: 22px;
    color: #FC6621;
}
.detal_list{
    height: 924px;
    background: #fff;
}
.select_wrap{
    width: 1200px;
    height: 42px;
    margin: 0 auto;
    padding: 20px 0;
}
.select_wrap div{
    float: left;
    font-size: 14px;
}
.changeCity,.changeCounty{
    width: 120px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #118855;
    margin-right: 8px;
    color: #333;
    padding: 4px 7px 4px 13px;
    cursor: pointer;
    position: relative;
}
.icon{
    display: inline-block;
    width: 26px;
    height: 23px;
    background: url("../img/img/1.png") no-repeat 10px -30px;
    vertical-align: middle;
}
.changeCity_win{
    width: 460px;
    height: 215px;
    position: absolute;
    border: 1px solid #cfcfcf;
    padding: 7px 0;
    background: #fbfbfb;
    left: -1px;
    top:41px;
    display: none;
}
.changeCounty_win{
    width: 460px;
    height: 190px;
    position: absolute;
    border: 1px solid #cfcfcf;
    padding: 7px 0;
    background: #fbfbfb;
    left: -1px;
    top:41px;
    display: none;
}
.cityTitle{
    font-weight: lighter;
    height: 20px;
    width: 426px;
    line-height: 20px;
    padding: 0 10px;
}
.cityTitle h3{
    float: left;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
.close_panel{
    background: url("../img/t011be77565f0a2f8e8.png") no-repeat 0 -7px;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 55px;
    position: absolute;
    right: 10px;
    top: 7px;
}
.cityList{
    background: #fff;
    border: 1px solid #e8e8e8;
    margin: 10px 10px 0;
    padding: 12px 12px;
}
.cityList li{
    margin-bottom: 10px;
    padding-left: 40px;
    position: relative;
    vertical-align: top;
    zoom: 1;
    overflow: hidden;
}
.cityList h4{
    color: #666;
    left: 0;
    top:-7px;
    position: absolute;
    font-weight: 400;
}
.cityList div{
    line-height: 18px;
}
.cityList div a{
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin: 0 6px 2px 0;
}
.current{
    color: #f60;
    font-weight: 700;
    width: 19px;
}
.tabBar{
    border-bottom: 1px solid #d9d9d9;
    height: 23px;
    margin-bottom: 5px;
    width: 100%;
}
.tabBar a{
    float: left;
    font-size: 14px;
    height: 23px;
    line-height: 20px;
    text-align: center;
}
.tabBar a:hover{
    color: #f60;
}
.citylist{
    height: 76px;
}
.citylist p{
    height: 76px;
}
.input_wrap{
    height: 20px;
    width: 449px;
    float: left;
    border: 1px solid #118855;
    line-height: 20px;
    padding: 10px 5px 10px 14px;
}
.input_wrap input[type=text]{
    background: transparent;
    border: none;
    outline:none;
    color: #666;
    float: left;
    height: 20px;
    width: 449px;
    line-height: 20px;
}
.select_wrap input[type=button]{
    background: #118855;
    border: 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 42px;
    width: 120px;
    line-height: 42px;
    text-align: center;
    text-indent: 0;
}
.content_wrap{
    width:1200px;
    margin: 0 auto;
}
.content_wrap_left{
    width: 888px;
    float: left;
    margin-right: 40px;
}

.content_wrap_right{
    float: right;
    width: 268px;
    height: 693px;
    border: 1px solid #d6d6d6;
}
.tab_menu{
    width: 888px;
    height: 42px;
    border: 1px solid #d6d6d6;
    background: #F7F7F7;
}
.tab_menu .tab{
    float: left;
    color: #666;
}
.tab_menu .tab a{
    display: inline-block;
    width: 120px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #666;
}
.tab_menu a:hover{
    text-decoration: none;
    color: #666;
}
.tab_hover{
    color: #118855;
    background: #fff;
    border-right: 1px solid #d6d6d6;
}
.tab input[type=checkbox]{
    vertical-align: middle;
}
.tab_menu .map_Btn{
    float: right;
}
.tab_menu .map_Btn a{
    display: block;
    width: 101px;
    height: 28px;
    border: 1px solid #d6d6d6;
    background: #ffffff url("../img/t01c9ef4268ff127a67.png") no-repeat 10px;
    text-indent: 35px;
    line-height: 28px;
    margin: 6px 10px 0 0;
}
.shopList_list_2{
    width: 890px;
    padding: 17px 0;
    height: 99px;
    border-bottom: 1px solid #ccc;
    font-size:14px;
    color: #888;
}
.shopList_list_2:hover{
    background: #eee;
}
.shopList_list_2:hover .to_shop a{
    display: block;
}
.shopList_list_2:hover .enter-to-shop{
    display: block;
}
.shopList_list_2:last-child{
    border-bottom: none;
}
.shopList_list_2 img{
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 20px;
    border: 1px solid #d6d6d6;
}
.shopList .description1{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}
.description1 p{
    line-height: 28px;
}
.description1 p:nth-child(2),.description1 p:last-child{
    width: 390px;
    /*文本超出隐藏，不换行，超出部分使用省略号代替*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.description1 p:first-child span:first-child{
    color: #118855;
}
.description1 p:first-child span:last-child{
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: url(../img/t01bc347bfed13eeb19.png) no-repeat 0 -80px;
}
.shopList .description2{
    width: 160px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.description2 ul li{
    line-height: 28px;
}
.description2 li:first-child{
    text-indent: 25px;
    background: url(../img/t01dddbd1775cf1d1d7.png) no-repeat left center;
}
.description2 li:nth-child(2){
    text-indent: 25px;
    background: url(../img/t0141b1afb0bd0d7e2e.png) no-repeat left center;
}
.shopList .to_shop a{
    display: none;
    width: 140px;
    height: 40px;
    border: 1px solid #118855;
    float: left;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    margin: 20px 0 0 30px;
    background: #fff;
    color: #118855;
}
.shopList .to_shop a:hover{
    text-decoration: none;
    color: #118855;
}
.pages{
    width: 890px;
    height: 44px;
    margin-top: 5px;
    /*padding-left: 65px;*/
    text-align: center;
}
.currentPage{
    color: #fff;
    background: #FC6621;
}
.pages a{
    font-weight: bold;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: 42px;
    text-align: center;
    color: #5A5A5A;
    margin-right: 5px;
}
.page_1{
    padding: 0 10px;
}
.pages a:first-child {
    /*margin-left: 55px*/
}
.favourable-comments{
    float:right;
    width: 268px;
    height: 695px;
    border: 1px solid #ccc;
    padding: 0.1px;
}
.favourable-comments h2{
    height: 42px;
    background: #F7F7F7;
    font-size: 24px;
    text-align: center;
    line-height: 42px;
    font-weight: lighter;
}
.favourable-comments .first{
    height: 52px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.favourable-comments .first:last-child{
    border-bottom: none;
}
.favourable-comments .first span{
    display: inline-block;
    width: 56px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    float: left;
    font-size: 26px;
}
.favourable-comments .first:nth-child(4) span,.favourable-comments .first:nth-child(2) span,.favourable-comments .first:nth-child(6) span{
    color: #fc6621;
}
.favourable-comments .first img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.favourable-comments .first a:nth-of-type(2){
    display: block;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #008B8B;
    margin-bottom: 8px;
    font-size:14px;
}
.favourable-comments .first p{
    font-size: 14px;
}
.footer{
    height: 290px;
    padding-bottom: 40px;
    background: #fafafa;
}
.footer .footer-nav{
    width: 980px;
    margin: 0 auto;
    height: 114px;
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee;
}
.footer-nav li{
    text-indent: 63px;
    width: 196px;
    height: 114px;
    float: left;
    font-size: 14px;
    color: #999999;
    line-height: 30px;
    position: relative;
}
.footer-nav li span{
    position: absolute;
    left: 10px;
    top: 0;
    width: 46px;
    height: 44px;
}
.footer-nav li a{
    color: #888;
}
.footer-nav li:first-child span{
    background: url(../img/t01f943ad69c4601e97.gif) no-repeat 0px 0px;
}
.footer-nav li:nth-child(2) span{
    background: url(../img/t01f943ad69c4601e97.gif) no-repeat 0px -44px;
}
.footer-nav li:nth-child(3) span{
    background: url(../img/t01f943ad69c4601e97.gif) no-repeat 0px -88px;
}
.footer-nav li:nth-child(4) span{
    background: url(../img/t01f943ad69c4601e97.gif) no-repeat 0px -132px;
}
.footer-nav li:nth-child(5) span{
    background: url(../img/t01f943ad69c4601e97.gif) no-repeat 0px -176px;
}
.footer-nav li:nth-child(5) a{
    color: #239BF8;;
}
.footer-nav li h3{
    font-size: 18px;
}
.footer-info{
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
    color: #666;
}
.protective{
    width: 100%;
    height: 100%;
    background: rgba(175,170,180,0.5);
    position: absolute;
    left: 0;
    top:0;
    display: none;
}
.map_wrap{
    width: 890px;
    height: 551px;
    border: 1px solid #888;
    position: fixed;
    z-index: 2000000000;
    left: 20%;
    top:10%;
}
.map_view_title{
    width: 890px;
    height: 32px;
    background:url("../img/t015366a1ffdd4fea2d.png") repeat-x;
    line-height: 32px;
}
.map_view_title h3{
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 32px;
    margin: 0 1px;
    text-indent: 14px;
}
.close{
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 32px;
    color: #888;
    margin-right: 10px;
    cursor: pointer;
}
.map_view{
    width: 890px;
    height: 455px;
    background: #eeeeee;
}
.pages_wrap{
    background: #eeeeee;
    width: 890px;
    height: 64px;
    padding: 10px 0;
}
.onlineInfo{
    width: 72px;
    height: 168px;
    position: fixed;
    background: url("../img/nav_middle_02_19.jpg") no-repeat;
    right: 119px;
    top:45%;
}
.returnTop{
    display: none;
    width:27px;
    height: 74px;
    overflow: hidden;
    position: fixed;
    bottom: 42px;
    right: 10px;
}
.returnTop a{
    width:27px;
    height: 150px;
    background: url("../img/db.png") no-repeat;
    display: inline-block;
    margin-top: 0;
}